<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="./vendor/autoload.php">
    <whitelist>
        <directory>Entity</directory>
        <directory>Utility</directory>
        <directory>OpenWeatherService</directory>
    </whitelist>
    <testsuites>
        <testsuite name="OpenWeatherBundle Test Suite">
            <directory>./Tests/</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>
